<html lang="en">

<head>
  <meta charset="utf-8"/>
  <title>uLogger</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <!-- jQuery -->
  <script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
  <link rel="stylesheet" href="static/jquery.mobile-1.4.2.min.css" />
  <script src="static/jquery-2.1.1.min.js"></script>
  <script src="static/jquery.mobile-1.4.2.min.js"></script>

  <!-- DataTables CSS -->
  <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.7/css/jquery.dataTables.css">
  
  <!-- DataTables -->
  <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.js"></script>
  <script src="static/ulog.js"></script>
</head>

<body>

    <div data-role="header" style="overflow:hidden;" data-theme="b">

       <div data-role="controlgroup" data-type="horizontal" class="ui-mini ui-btn-left">
        <a href="#" class="ui-btn ui-btn-icon-right ui-icon-gear">Settings</a>
        <a href="#" id="button_run_stop" class="ui-btn ui-btn-icon-right ui-icon-arrow-r">Run</a>
        <a href="#" id="button_clear" class="ui-btn ui-btn-icon-right ui-icon-delete">Clear</a>
       </div>

      <h1 id="headeer_status">uLogger</h1>
      <a class="ui-btn-right" id="live" data-theme="a">OFFLINE</a>            
    </div>
    
    <div class="ui-body ui-body-a ui-corner-all">
      <table id="example" class="display" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th>Time</th>
            <th>Loger name</th>
            <th>Level</th>
            <th>Line #</th>
            <th>Filename</th>
            <th>Funcname</th>
            <th>Msg</th>
            <th>Hostname</th>                
            <th>Username</th>
          </tr>
        </thead>

        <tfoot>
          <tr>
            <th>Time</th>
            <th>Loger name</th>
            <th>Level</th>
            <th>Line #</th>
            <th>Filename</th>
            <th>Funcname</th>
            <th>Msg</th>
            <th>Hostname</th>                
            <th>Username</th>
          </tr>
        </tfoot>
      </table>
    </div>

    <div data-role="footer">...</div>

  </body>
  <div id="hostname" value="{{host_ip}}"></div>
  <div id="hostport" value="{{host_port}}"></div>
  <div id="hosturl"  value="{{log_url}}"></div>
  </html>
