<html lang="en">

<head>
  <meta charset="utf-8"/>
  <title>uLogger</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <!-- jQuery -->
  <script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
  <link rel="stylesheet" href="static/jquery.mobile-1.4.2.min.css" />
  <script src="static/jquery-2.1.1.min.js"></script>
  <script src="static/jquery.mobile-1.4.2.min.js"></script>

  <!-- DataTables CSS -->
  <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.7/css/jquery.dataTables.css">
  
  <!-- DataTables -->
  <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.js"></script>
  <script src="static/ulog.js"></script>

</head>

<body>
    <div data-role="page" id="page1">

        <div data-role="header" style="overflow:hidden;" data-theme="b">
            <h1 id="headeer_status">uLogger</h1>
            <a class="ui-btn-right" id="live" data-theme="a">OFFLINE</a>
        </div>
        
        <div data-role="page" id="page_hydro"> 

            <div id="hostname" value="localhost"></div>
            <div id="hostport" value="8888"></div>
            <div id="hosturl" value="log"></div>
        </div>
        <table id="example" class="display" cellspacing="10" width="100%">
            <thead>
                <tr>
                    <th>Time</th>
                    <th>Loger name</th>
                    <th>Level</th>
                    <th>Line #</th>
                    <th>Filename</th>
                    <th>Funcname</th>
                    <th>Msg</th>
                    <th>Hostname</th>                
                    <th>Username</th>
                </tr>
            </thead>

            <tfoot>
                <tr>
                    <th>Time</th>
                    <th>Loger name</th>
                    <th>Level</th>
                    <th>Line #</th>
                    <th>Filename</th>
                    <th>Funcname</th>
                    <th>Msg</th>
                    <th>Hostname</th>                
                    <th>Username</th>
                </tr>
            </tfoot>
        </table>


    </body>

    </html>